{{#if @searchEnabled}}
  <div class="ember-power-select-search">
    <input type="search" autocomplete="off"
      autocorrect="off" autocapitalize="off"
      spellcheck={{false}} role="combobox"
      class="ember-power-select-search-input"
      value={{@select.searchText}}
      aria-activedescendant={{@ariaActiveDescendant}}
      aria-controls={{@listboxId}}
      aria-haspopup="listbox"
      placeholder={{@searchPlaceholder}}
      {{on "input" @onInput}}
      {{on "focus" @onFocus}}
      {{on "blur" @onBlur}}
      {{on "keydown" this.handleKeydown}}
      {{did-insert this.focusInput}}
      {{will-destroy this.clearSearch}}>
  </div>
{{/if}}
