{{#if @select.selected}}
  {{#if @selectedItemComponent}}
    {{component (ensure-safe-component @selectedItemComponent) extra=(readonly @extra) option=(readonly @select.selected) select=(readonly @select)}}
  {{else}}
    <span class="ember-power-select-selected-item">{{yield @select.selected @select}}</span>
  {{/if}}
  {{#if (and @allowClear (not @select.disabled))}}
    <span class="ember-power-select-clear-btn" role="button" {{on "mousedown" this.clear}} {{on "touchstart" this.clear}}>&times;</span>
  {{/if}}
{{else}}
  {{component (ensure-safe-component @placeholderComponent) placeholder=@placeholder}}
{{/if}}
<span class="ember-power-select-status-icon"></span>
