{{#liquid-bind @options use=this.animation enableGrowth=this.enableGrowth as |currentOptions|}}
  {{#each this.currentOptions as |opt|}}
    <li class="ember-power-select-option"
      aria-selected={{ember-power-select-is-selected opt @selected}}
      aria-disabled={{opt.disabled}}
      aria-current={{eq opt @highlighted}}
      role="button"
      {{on "click" (fn @select opt @dropdown)}}
      {{on "mouseover" (fn @highlight opt)}}>
      {{yield opt}}
    </li>
  {{/each}}
{{/liquid-bind}}