<button {{on "click" this.refreshCollection}}>Refresh collection</button>
<br>
Default loading message
<PowerSelect
  @options={{promise}}
  @selected={{selected}}
  @onChange={{action (mut selected)}} as |name|>
  {{name}}
</PowerSelect>
<br>
Custom loading message (press the <code>Refresh Collection</code> button and open this select)
<PowerSelect
  @options={{promise}}
  @loadingMessage="Waiting for the server...."
  @selected={{selected}}
  @onChange={{action (mut selected)}} as |name|>
  {{name}}
</PowerSelect>