<PowerSelect
  @options={{names}}
  @renderInPlace={{true}}
  @selected={{name345}}
  @onChange={{action (mut name345)}} as |name|>
  {{name}}
  <a {{on "mouseup" this.stopPropagation}} {{on "click" (fn this.removeName name)}}>&times;</a>
</PowerSelect>
