{{!-- template-lint-disable no-invalid-interactive --}}
{{!-- template-lint-disable no-pointer-down-event-binding --}}
{{!-- template-lint-disable no-unsupported-role-attributes --}}
{{!-- template-lint-disable require-aria-activedescendant-tabindex --}}
<ul
  id="ember-power-select-multiple-options-{{@select.uniqueId}}"
  aria-activedescendant={{if
    (and @select.isOpen (not @searchEnabled))
    @ariaActiveDescendant
  }}
  class="ember-power-select-multiple-options"
  {{did-update this.openChanged @select.isOpen}}
  {{on "touchstart" this.chooseOption}}
  {{on "mousedown" this.chooseOption}}
  ...attributes
>
  {{#each @select.selected as |opt idx|}}
    <li
      class="ember-power-select-multiple-option
        {{if opt.disabled 'ember-power-select-multiple-option--disabled'}}"
    >
      {{#unless @select.disabled}}
        <span
          role="button"
          aria-label="remove element"
          class="ember-power-select-multiple-remove-btn"
          data-selected-index={{idx}}
        >
          &times;
        </span>
      {{/unless}}
      {{#if @selectedItemComponent}}
        {{component
          (ensure-safe-component @selectedItemComponent)
          extra=@extra
          option=opt
          select=@select
        }}
      {{else}}
        {{yield opt @select}}
      {{/if}}
    </li>
  {{else}}
    {{#if (and @placeholder (not @searchEnabled))}}
      <li>
        {{component
          (ensure-safe-component @placeholderComponent)
          placeholder=@placeholder
        }}
      </li>
    {{/if}}
  {{/each}}
  {{#if @searchEnabled}}
    <li>
      {{#let
        (component
          "power-select-multiple/input"
          select=@select
          ariaActiveDescendant=@ariaActiveDescendant
          ariaLabelledBy=@ariaLabelledBy
          ariaLabel=@ariaLabel
          listboxId=@listboxId
          tabindex=@tabindex
          buildSelection=@buildSelection
          placeholder=@placeholder
          placeholderComponent=@placeholderComponent
          searchField=@searchField
          onFocus=@onFocus
          onBlur=@onBlur
          onKeydown=@onKeydown
          onInput=@onInput
        )
        as |InputComponent|
      }}
        {{component
          (ensure-safe-component @placeholderComponent)
          select=@select
          placeholder=@placeholder
          isMutlipleWithSearch=true
          inputComponent=InputComponent
          displayPlaceholder=(and
            (not @select.searchText) (not @select.selected)
          )
        }}
      {{/let}}
    </li>
  {{/if}}
</ul>
<span class="ember-power-select-status-icon"></span>