<header class="main-header">
  <nav class="main-header-nav">
    <div class="main-header-nav-links">
      <LinkTo
        @route="public-pages.docs"
        class="main-header-nav-link"
      >Docs</LinkTo>
      <LinkTo
        @route="public-pages.cookbook"
        class="main-header-nav-link"
      >Cookbook</LinkTo>
      <LinkTo
        @route="public-pages.addons"
        class="main-header-nav-link"
      >Addons</LinkTo>
      <a
        href="https://github.com/cibernox/ember-power-select"
        class="main-header-nav-link"
      >Github</a>
    </div>
    <div class="main-header-logo">
      <LinkTo @route="public-pages.index" class="home-link" id="home-link">
        <img src="/ember_logo.png" alt="ember" />
      </LinkTo>
      <div class="main-header-select">
        <PowerSelect
          @options={{this.mainSelectOptions}}
          @selected={{this.mainSelected}}
          @disabled={{this.disabled}}
          @triggerComponent={{component "main-header-select-trigger"}}
          @onChange={{this.changeOptions}}
          @ariaLabelledBy="home-link"
          @dropdownClass="main-header-select-dropdown"
          as |opt|
        >
          {{opt}}
        </PowerSelect>
      </div>
    </div>
  </nav>
</header>
<div class="main-content">
  {{outlet}}
</div>
<footer class="main-footer">
  <div class="main-footer-content">
    Deployed with love by
    <a href="http://github.com/cibernox">Miguel Camba</a>
    <div class="contribute-call-to-action">
      Enjoy the addon?
      <LinkTo @route="public-pages.support-the-project">Support it!</LinkTo>
    </div>
  </div>
</footer>

<RememberDocumentScroll @key={{this.router.currentRouteName}} />