{{#each options as |opt|}}
  {{#if opt.groupName}}
    <li class="ember-power-select-group">
      <span class="ember-power-select-group-name">{{opt.groupName}}</span>
      <ul class="ember-power-select-options nested">
        {{#component optionsComponent highlighted=highlighted selection=selection options=opt.options
          highlight=highlight select=select optionsComponent=optionsComponent dropdown=dropdown as |option|}}
          {{yield option}}
        {{/component}}
      </ul>
    </li>
  {{else}}
    <li class="ember-power-select-option {{ember-power-select-option-classes opt selection highlighted}}" onclick={{action select opt dropdown}} onmouseover={{action highlight opt}}>
      {{yield opt}}
    </li>
  {{/if}}
{{/each}}
