{{#ember-basic-dropdown class="ember-power-select" renderInPlace=renderInPlace matchTriggerWidth=true
  disabled=disabled dropdownPosition=dropdownPosition triggerClass="ember-power-select-trigger" dropdownClass=dropdownClass
  onOpen=(action onOpen) onClose=(action onClose) as |dropdown|}}
  {{#if searchEnabled}}
    <div class="ember-power-select-search">
      <input type="search" autocomplete="off" autocorrect="off" autocapitalize="off"
      spellcheck="false" role="textbox" oninput={{action "search" value="target.value"}}
      onkeydown={{action "searchKeydown" dropdown.close}} placeholder={{searchPlaceholder}}>
    </div>
  {{/if}}
  <ul class="ember-power-select-options">
    {{#if _loadingOptions}}
      <li class="ember-power-select-option">{{loadingMessage}}</li>
    {{/if}}
    {{#if resultsLength}}
      {{#component optionsComponent options=results highlighted=_highlighted selection=selection optionsComponent= optionsComponent
        highlight=(action "highlight") select=(action "select") dropdown=dropdown as |option|}}
        {{yield option}}
      {{/component}}
    {{else if mustSearch}}
      <li class="ember-power-select-option">{{searchMessage}}</li>
    {{else if _notLoadingOptions}}
      {{#if hasInverseBlock}}
        {{yield to="inverse"}}
      {{else}}
        <li class="ember-power-select-option">{{noMatchesMessage}}</li>
      {{/if}}
    {{/if}}
  </ul>
{{else}}
  {{#if selection}}
    {{#if selectedComponent}}
      {{component selectedComponent selection=selection disabled=disabled}}
    {{else}}
      {{yield selection}}
    {{/if}}
    {{#if allowClear}}
      <span class="ember-power-select-clear-btn" onclick={{action "clear"}}>&times;</span>
    {{/if}}
  {{else if placeholder}}
    <span class="ember-power-select-placeholder">{{placeholder}}</span>
  {{/if}}
{{/ember-basic-dropdown}}
