{{#liquid-bind options use=animation enableGrowth=enableGrowth as |currentOptions|}}
  {{#each currentOptions as |opt|}}
    <li class="ember-power-select-option"
      aria-selected={{ember-power-select-is-selected opt selected}}
      aria-disabled={{opt.disabled}}
      aria-current={{eq opt highlighted}}
      onclick={{action select.actions.select opt}}
      onmouseover={{action select.actions.highlight opt}}>
      {{yield opt}}
    </li>
  {{/each}}
{{/liquid-bind}}
