<li class="ember-power-select-group" aria-disabled={{ember-power-select-true-string-if-present disabled}} role="option">
  <span class="ember-power-select-group-name collapsible {{if collapsed 'is-collapsed'}}" onclick={{toggle 'collapsed' this}}>{{groupName}}</span>
  <div class="{{if collapsed 'hide-options'}}">
    {{yield}}
  </div>
</li>