<p>Countries:</p>
<ul>
  {{#if extra.field}}
    {{#each options as |option index|}}
      <li>{{index}}. {{get option extra.field}}</li>
    {{/each}}
  {{else}}
    {{#each options as |option index|}}
      <li>{{index}}. {{option.name}}</li>
    {{/each}}
  {{/if}}
</ul>
