{{#liquid-bind level use=animation as |currentLevel|}}
  {{#if parentLevel}}
    <li class="ember-power-select-option {{if parentLevelHighlighted 'highlighted'}}" onclick={{action "show" parentLevel}} onmouseover={{action "highlightLevel" parentLevel}}>
      &lsaquo; <strong>Back</strong>
    </li>
  {{/if}}
  {{#each currentLevel.options as |opt|}}
    {{#if opt.groupName}}
      <li class="ember-power-select-option group-header {{ember-power-select-option-classes opt selection highlightedLevel}}" onclick={{action "show" opt}} onmouseover={{action "highlightLevel" opt}}>
        <strong>{{opt.groupName}}</strong> &rsaquo;
      </li>
    {{else}}
      <li class="ember-power-select-option {{ember-power-select-option-classes opt selection highlighted}}" onclick={{action "select" opt}} onmouseover={{action "highlight" opt}}>
        {{yield opt}}
      </li>
    {{/if}}
  {{/each}}
{{/liquid-bind}}
