<h1>Helpers testing</h1>
<div class="select-choose">
  <PowerSelect @options={{this.numbers}} @selected={{this.selected}} @onChange={{fn (mut this.selected)}} as |num|>
    {{num}}
  </PowerSelect>
</div>

<div class="select-choose-onopen">
  <PowerSelect @onOpen={{this.onOpenHandle}} @options={{this.optionz}} @selected={{this.selected}} @onChange={{fn (mut this.selected)}} @allowClear={{true}} as |num|>
    {{num}}
  </PowerSelect>
</div>

<div class="select-choose-onopen-multiple">
  <PowerSelectMultiple @onOpen={{this.onOpenHandle}} @options={{this.optionz}} @selected={{this.selected2}} @onChange={{fn (mut this.selected2)}} as |num|>
    {{num}}
  </PowerSelectMultiple>
</div>

<div>
  <PowerSelect @triggerClass="select-with-class-in-trigger" @options={{this.numbers}} @selected={{this.selected}} @onChange={{fn (mut this.selected)}} @searchEnabled={{true}} as |num|>
    {{num}}
  </PowerSelect>
</div>

{{#if this.selected}}
  <span class="select-choose-target">You've selected: {{this.selected}}</span>
{{/if}}

<div class="select-async">
  <PowerSelect @selected={{this.selected}} @onChange={{fn (mut this.selected)}} @search={{this.searchAsync}} @searchEnabled={{true}} as |num|>
    {{num}}
  </PowerSelect>
</div>

<div class="select-multiple">
  <PowerSelectMultiple @options={{this.numbers}} @selected={{this.selectedList}} @onChange={{fn (mut this.selectedList)}} @searchEnabled={{true}} as |num|>
    {{num}}
  </PowerSelectMultiple>
</div>

<div id="select-multiple-async">
  <PowerSelectMultiple @options={{this.numbers}} @selected={{this.asyncSelectedList}} @onChange={{fn this.onChangeAsync "asyncSelectedList"}} as |num|>
    {{num}}
  </PowerSelectMultiple>
</div>

<div class="select-deselect-async">
  <PowerSelect @options={{this.numbers}} @selected={{this.asyncSelected}} @onChange={{fn this.onChangeAsync "asyncSelected"}} @allowClear={{true}} as |num|>
    {{num}}
  </PowerSelect>
</div>

<h2 class="t3">Customized component</h2>
<div class="select-custom-search">
  <PowerSelect @selected={{this.selected3}}
    @onChange={{fn (mut this.selected3)}}
    @search={{this.searchAsync}}
    @beforeOptionsComponent={{null}}
    @triggerComponent={{component "custom-trigger-with-search"}} as |num|>
    {{num}}
  </PowerSelect>
</div>