<h2 class="t3">Helpers testing with single select</h2>
<div class="select-choose">
  <PowerSelect @options={{this.numbers}} @selected={{this.selected}} @onChange={{fn (mut this.selected)}} @searchEnabled={{true}} as |num|>
    {{num}}
  </PowerSelect>
</div>

{{#if this.selected}}
  <span class="select-choose-target">You've selected: {{this.selected}}</span>
{{/if}}
