<section class="docs">
  <nav class="side-nav">
    <header class="side-nav-header">Getting started</header>
    <LinkTo @route="public-pages.docs.index" class="side-nav-link">Overview</LinkTo>
    <LinkTo @route="public-pages.docs.installation" class="side-nav-link">Installation</LinkTo>
    <LinkTo @route="public-pages.docs.how-to-use-it" class="side-nav-link">How to use it</LinkTo>
    <LinkTo @route="public-pages.docs.action-handling" class="side-nav-link">Action handling</LinkTo>
    <LinkTo @route="public-pages.docs.groups" class="side-nav-link">Groups</LinkTo>
    <LinkTo @route="public-pages.docs.multiple-selection" class="side-nav-link">Multiple selection</LinkTo>

    <header class="side-nav-header">Basic customization</header>
    <LinkTo @route="public-pages.docs.the-trigger" class="side-nav-link">The trigger</LinkTo>
    <LinkTo @route="public-pages.docs.the-list" class="side-nav-link">The list</LinkTo>
    <LinkTo @route="public-pages.docs.the-search" class="side-nav-link">The search</LinkTo>
    <LinkTo @route="public-pages.docs.styles" class="side-nav-link">Styles</LinkTo>

    <header class="side-nav-header">Advanced customization</header>
    <LinkTo @route="public-pages.docs.custom-search-action" class="side-nav-link">Custom search action</LinkTo>

    <header class="side-nav-header">Upgrade</header>
    <LinkTo @route="public-pages.docs.migrate-7-0-to-8-0" class="side-nav-link">Migrate from 7.0 to 8.0</LinkTo>

    <header class="side-nav-header">Other</header>
    <LinkTo @route="public-pages.docs.test-helpers" class="side-nav-link">Test helpers</LinkTo>
    <LinkTo @route="public-pages.docs.troubleshooting" class="side-nav-link">Troubleshooting</LinkTo>
    <LinkTo @route="public-pages.docs.architecture" class="side-nav-link">Architecture</LinkTo>
    <LinkTo @route="public-pages.docs.api-reference" class="side-nav-link">API reference</LinkTo>
  </nav>
  <section class="doc-page">
    <PowerSelect @selected={{this.currentSection}} @options={{this.groupedSections}} @onChange={{this.visit}} @searchField="text" @triggerClass="section-selector" as |option|>
      {{option.text}}
    </PowerSelect>
    {{outlet}}
  </section>
</section>
