{{#if this.destroyed}}
  The bomb has exploded! Reload to try again :)
{{else}}
  <PowerSelect
    @selected={{this.number}}
    @options={{this.numbers}}
    @onChange={{fn (mut this.number)}}
    @onOpen={{this.startSelfDestroyCountdown}}
    @labelText="Country"
    @placeholder="Once opened this component will destroy itself in 8 seconds" as |number|>
    {{number}}
  </PowerSelect>
  {{#if this.countdown}}<p>This component will be destroyed in {{this.counter}} seconds</p>{{/if}}
{{/if}}
<p>Selected number: {{this.number}}</p>