<PowerSelect
  @options={{this.names}}
  @renderInPlace={{true}}
  @selected={{this.name345}}
  @labelText="Name"
  @onChange={{fn (mut this.name345)}}
  as |name|
>
  {{name}}
  <a
    href="#"
    {{on "mouseup" this.stopPropagation}}
    {{on "click" (fn this.removeName name)}}
  >&times;</a>
</PowerSelect>