<PowerSelect
  @searchEnabled={{true}}
  @options={{this.countries}}
  @selected={{this.country}}
  @selectedItemComponent={{component "selected-item-country"}}
  @searchField="name"
  @labelText="Country"
  @onChange={{fn (mut this.country)}}
  as |country|
>
  <div class="country-detailed-info">
    <img
      src={{country.flagUrl}}
      class="country-flag"
      alt="Flag of {{country.name}}"
    />
    <div class="country-data-text">
      <strong>{{country.name}}</strong>
      <br />
      <small>Population in 2014: <i>{{country.population}}</i></small>
    </div>
  </div>
</PowerSelect>