<BasicDropdown
  @horizontalPosition={{@horizontalPosition}}
  @destination={{@destination}}
  @initiallyOpened={{@initiallyOpened}}
  @matchTriggerWidth={{this.matchTriggerWidth}}
  @preventScroll={{or @preventScroll false}}
  @onClose={{this.handleClose}}
  @onOpen={{this.handleOpen}}
  @renderInPlace={{@renderInPlace}}
  @verticalPosition={{@verticalPosition}}
  @disabled={{@disabled}}
  @calculatePosition={{@calculatePosition}}
  @triggerComponent={{ensure-safe-component @ebdTriggerComponent}}
  @contentComponent={{ensure-safe-component @ebdContentComponent}}
  as |dropdown|>
  {{#let (assign dropdown (hash
    selected=this.selected
    highlighted=this.highlighted
    options=this.options
    results=this.results
    resultsCount=this.resultsCount
    loading=this.loading
    isActive=this.isActive
    searchText=this.searchText
    lastSearchedText=this.lastSearchedText
    actions=(assign dropdown.actions this._publicAPIActions)
  )) (concat "ember-power-select-options-" dropdown.uniqueId) as |publicAPI listboxId|}}
    <dropdown.Trigger
      @eventType={{or @eventType "mousedown"}}
      {{did-insert this._updateOptions @options}}
      {{did-update this._updateOptions @options}}
      {{did-insert this._updateSelected @selected}}
      {{did-update this._updateSelected @selected}}
      {{did-insert this._registerAPI publicAPI}}
      {{did-update this._registerAPI publicAPI}}
      {{did-update this._performSearch this.searchText}}
      {{on "keydown" this.handleTriggerKeydown}}
      {{on "focus" this.handleFocus}}
      {{on "blur" this.handleBlur}}
      class="ember-power-select-trigger {{@triggerClass}}{{if publicAPI.isActive " ember-power-select-trigger--active"}}"
      aria-activedescendant={{if dropdown.isOpen (unless @searchEnabled (concat publicAPI.uniqueId "-" this.highlightedIndex))}}
      aria-controls={{unless @searchEnabled listboxId}}
      aria-describedby={{@ariaDescribedBy}}
      aria-haspopup={{unless @searchEnabled "listbox"}}
      aria-invalid={{@ariaInvalid}}
      aria-label={{@ariaLabel}}
      aria-labelledby={{@ariaLabelledBy}}
      aria-owns=""
      aria-required={{@required}}
      role={{or @triggerRole "button"}}
      title={{@title}}
      id={{@triggerId}}
      tabindex={{and (not @disabled) (or @tabindex "0")}}
      ...attributes
    >
      {{#let 
        (if 
          @triggerComponent 
          (component (ensure-safe-component @triggerComponent)) 
          (component 'power-select/trigger')
        ) 
      as |Trigger|}}
        <Trigger
          @allowClear={{@allowClear}}
          @buildSelection={{@buildSelection}}
          @loadingMessage={{or @loadingMessage "Loading options..."}}
          @selectedItemComponent={{ensure-safe-component @selectedItemComponent}}
          @select={{publicAPI}}
          @searchEnabled={{@searchEnabled}}
          @searchField={{@searchField}}
          @onFocus={{this.handleFocus}}
          @onBlur={{this.handleBlur}}
          @extra={{@extra}}
          @listboxId={{listboxId}}
          @onInput={{this.handleInput}}
          @onKeydown={{this.handleKeydown}}
          @placeholder={{@placeholder}}
          @placeholderComponent={{if 
            @placeholderComponent 
            (ensure-safe-component @placeholderComponent) 
            (component 'power-select/placeholder')
          }}
          @ariaActiveDescendant={{concat publicAPI.uniqueId "-" this.highlightedIndex}}
          as |opt term|>
          {{yield opt term}}
        </Trigger>
      {{/let}}
    </dropdown.Trigger>
    <dropdown.Content class="ember-power-select-dropdown{{if publicAPI.isActive " ember-power-select-dropdown--active"}} {{@dropdownClass}}">
      {{#if (not-eq @beforeOptionsComponent null)}}
        {{#let 
          (if 
            @beforeOptionsComponent 
            (component (ensure-safe-component @beforeOptionsComponent))
            (component 'power-select/before-options')
          ) 
        as |BeforeOptions|}}
          <BeforeOptions
            @select={{publicAPI}}
            @searchEnabled={{@searchEnabled}}
            @onInput={{this.handleInput}}
            @onKeydown={{this.handleKeydown}}
            @onFocus={{this.handleFocus}}
            @onBlur={{this.handleBlur}}
            @placeholder={{@placeholder}}
            @placeholderComponent={{or @placeholderComponent (component 'power-select/placeholder')}}
            @extra={{@extra}}
            @listboxId={{listboxId}}
            @ariaActiveDescendant={{concat publicAPI.uniqueId "-" this.highlightedIndex}}
            @selectedItemComponent={{ensure-safe-component @selectedItemComponent}}
            @searchPlaceholder={{@searchPlaceholder}}
          />
        {{/let}}
      {{/if}}
      {{#if this.mustShowSearchMessage}}
        {{#let 
          (if 
            @searchMessageComponent 
            (component (ensure-safe-component @searchMessageComponent))
            (component 'power-select/search-message')
          ) 
        as |SearchMessage|}}
          <SearchMessage @searchMessage={{this.searchMessage}} @select={{publicAPI}}/>
        {{/let}}
      {{else if this.mustShowNoMessages}}
        {{#let 
          (if 
            @noMatchesMessageComponent
            (component (ensure-safe-component @noMatchesMessageComponent))
            (component 'power-select/no-matches-message')
          ) 
         as |NoMatchesMessage|}}
          <NoMatchesMessage @noMatchesMessage={{this.noMatchesMessage}} @select={{publicAPI}} />
        {{/let}}
      {{else}}
        {{#let 
          (if 
            @optionsComponent
            (component (ensure-safe-component @optionsComponent))
            (component 'power-select/options')
          ) 
          (if 
            @groupComponent
            (component (ensure-safe-component @groupComponent))
            (component 'power-select/power-select-group')
          ) 
        as |Options Group|}}
          <Options
            @loadingMessage={{or @loadingMessage "Loading options..."}}
            @select={{publicAPI}}
            @options={{publicAPI.results}}
            @groupIndex=""
            @optionsComponent={{Options}}
            @extra={{@extra}}
            @highlightOnHover={{this.highlightOnHover}}
            @groupComponent={{Group}}
            id={{listboxId}}
            class="ember-power-select-options" as |option select|>
            {{yield option select}}
          </Options>
        {{/let}}
      {{/if}}
      
      {{#if @afterOptionsComponent}}
        {{#let (component (ensure-safe-component @afterOptionsComponent)) as |AfterOptions|}}
          <AfterOptions
            @extra={{@extra}}
            @select={{publicAPI}}
          />
        {{/let}}
      {{/if}}
    </dropdown.Content>
  {{/let}}
</BasicDropdown>
{{!-- <BasicDropdown
  @horizontalPosition={{@horizontalPosition}}
  @destination={{@destination}}
  @initiallyOpened={{@initiallyOpened}}
  @matchTriggerWidth={{this.matchTriggerWidth}}
  @preventScroll={{this.preventScroll}}
  @onClose={{this.handleClose}}
  @onOpen={{this.handleOpen}}
  @registerAPI={{this._registerAPI}}
  @renderInPlace={{@renderInPlace}}
  @verticalPosition={{@verticalPosition}}
  @disabled={{@disabled}}
  @calculatePosition={{this.calculatePosition}}
  ...attributes as |dropdown|>
  <dropdown.Trigger
    @eventType={{or @eventType "mousedown"}}
    {{on "keydown" this.handleTriggerKeydown}}
    {{on "focus" this.handleTriggerFocus}}
    {{on "blur" this.handleTriggerBlur}}
    class={{this.concatenatedTriggerClasses}}
    id={{@triggerId}}
    role={{this.triggerRole}}
    aria-describedby={{@ariaDescribedBy}}
    aria-invalid={{@ariaInvalid}}
    aria-label={{@ariaLabel}}
    aria-labelledby={{@ariaLabelledBy}}
    aria-required={{@required}}
    title={{@title}}
    tabindex={{and (not @disabled) (or @tabindex "0")}}>
    {{#let (component this.triggerComponent) as |Trigger|}}
      <Trigger
        @htmlTag={{this._triggerTagName}}
        @allowClear={{@allowClear}}
        @buildSelection={{@buildSelection}}
        @extra={{@extra}}
        @listboxId={{this.optionsId}}
        @loadingMessage={{this.loadingMessage}}
        @onFocus={{this.handleFocus}}
        @onBlur={{this.handleBlur}}
        @onInput={{this.handleInput}}

        @onKeydown={{this.handleKeydown}}
        @searchEnabled={{@searchEnabled}}
        @searchField={{@searchField}}
        @select={{this.publicAPI}}
        @selectedItemComponent={{@selectedItemComponent}}
        as |opt term|>
        {{yield opt term}}
      </Trigger>
    {{/let}}
  </dropdown.Trigger>
  <dropdown.Content @htmlTag={{this._contentTagName}} class={{this.concatenatedDropdownClasses}}>
    {{#let (component this.beforeOptionsComponent) as |BeforeOptions|}}
      <BeforeOptions
        @animationEnabled={{@animationEnabled}}
        @select={{this.publicAPI}}
        @searchEnabled={{@searchEnabled}}
        @searchPlaceholder={{@searchPlaceholder}}
        @listboxId={{this.optionsId}}
        @onInput={{this.handleInput}}
        @onKeydown={{this.handleKeydown}}
        @onFocus={{this.handleFocus}}
        @onBlur={{this.handleBlur}}
        @extra={{@extra}}
        @placeholder={{@placeholder}}
        @placeholderComponent={{this.placeholderComponent}}
        @selectedItemComponent={{@selectedItemComponent}}/>
    {{/let}}
    {{#if this.mustShowSearchMessage}}
      {{#let (component this.searchMessageComponent) as |SearchMessage|}}
        <SearchMessage @searchMessage={{this.searchMessage}} @select={{this.publicAPI}}/>
      {{/let}}
    {{else if this.mustShowNoMessages}}
      {{#if this.noMatchesMessage}}
        <ul class="ember-power-select-options" role="listbox">
          <li class="ember-power-select-option ember-power-select-option--no-matches-message" role="option">
            {{this.noMatchesMessage}}
          </li>
        </ul>
      {{/if}}
    {{else}}
      {{#let (component this.optionsComponent) as |Options|}}
        <Options
          @loadingMessage={{this.loadingMessage}}
          @groupIndex=""
          @extra={{@extra}}
          @select={{this.publicAPI}}
          @options={{this.publicAPI.results}}
          @optionsComponent={{Options}}
          @highlightOnHover={{this.highlightOnHover}}
          @groupComponent={{this.groupComponent}}
          id={{this.optionsId}}
          class="ember-power-select-options" as |option term|>
          {{yield option term}}
        </Options>
      {{/let}}
    {{/if}}
    {{#let (component this.afterOptionsComponent) as |AfterOptions|}}
      <AfterOptions @select={{this.publicAPI}} @extra={{@extra}}/>
    {{/let}}
  </dropdown.Content>
</BasicDropdown> --}}
