{{!-- <div class="ember-power-select-trigger" tabindex="{{tabindex}}" onkeydown={{action "keydown"}} onclick={{action "toggle"}}>
  {{#if multiple}}
    {{#each selectedOption as |multiOpt|}}
      <span class="ember-power-select-multiple-option">
        <span class="ember-power-select-multiple-remove-btn" onclick={{action "removeOption" multiOpt}}>&times;</span>
        {{yield multiOpt}}
      </span>
    {{/each}}
    <input type="search" class="ember-power-select-trigger-multiple-input" tabindex="0" autocomplete="off"
      autocorrect="off" autocapitalize="off" spellcheck="false" role="textbox"
      style={{triggerMultipleInputStyle}} value={{_searchText}}
      oninput={{action "search" value="target.value"}}>
  {{else if selectedOption}}
    {{#if selectedPartial}}
      {{partial selectedPartial}}
    {{else}}
      {{yield selectedOption}}
    {{/if}}
    {{#if allowClear}}
      <span class="ember-power-select-clear-btn" onclick={{action "clear"}}>&times;</span>
    {{/if}}
  {{else if placeholder}}
    <span class="ember-power-select-placeholder">{{placeholder}}</span>
  {{/if}}
</div>
{{#if _opened}}
  {{#ember-wormhole to=_wormholeDestination renderInPlace=renderInPlace}}
    <div class="ember-power-select-dropdown {{_dropdownPositionClass}}" dir={{dir}} onclick={{swallowEvent}}>
      {{#if searchEnabled}}
        <div class="ember-power-select-search">
          <input type="search" autocomplete="off" autocorrect="off" autocapitalize="off"
          spellcheck="false" role="textbox" oninput={{action "search" value="target.value"}}
          onkeydown={{action "keydown"}} placeholder={{searchPlaceholder}}>
        </div>
      {{/if}}

      <ul class="ember-power-select-options">
        {{#if _loadingOptions}}
          <li class="ember-power-select-option">{{loadingMessage}}</li>
        {{/if}}
        {{#if results.length}}
          {{#ember-power-select/options options=results highlighted=_highlighted selectedOption=selectedOption
            highlight=(action "highlight") select=(action "select") as |option|}}
            {{yield option}}
          {{/ember-power-select/options}}
        {{else if mustSearch}}
          <li class="ember-power-select-option">{{searchMessage}}</li>
        {{else if _notLoadingOptions}}
          {{#if (hasBlock "inverse")}}
            {{yield component to="inverse"}}
          {{else}}
            <li class="ember-power-select-option">{{noMatchesMessage}}</li>
          {{/if}}
        {{/if}}
      </ul>
    </div>
  {{/ember-wormhole}}
{{/if}} --}}

{{#ember-basic-dropdown class="ember-power-select" renderInPlace=renderInPlace matchTriggerWidth=true
  disabled=disabled triggerClass="ember-power-select-trigger" dropdownClass="ember-power-select-dropdown"
  onReady=(action storeDropdownComponent) onOpen=(action open) onClose=(action close) as |component|}}
  {{log "default"}}
  {{log component}}
  {{#if multiple}}
    {{#each selectedOption as |multiOpt|}}
      <span class="ember-power-select-multiple-option">
        <span class="ember-power-select-multiple-remove-btn" onclick={{action "removeOption" multiOpt}}>&times;</span>
        {{yield multiOpt}}
      </span>
    {{/each}}
    <input type="search" class="ember-power-select-trigger-multiple-input" tabindex="0" autocomplete="off"
      autocorrect="off" autocapitalize="off" spellcheck="false" role="textbox"
      style={{triggerMultipleInputStyle}} value={{_searchText}}
      oninput={{action "search" value="target.value"}}>
  {{else if selectedOption}}
    {{#if selectedPartial}}
      {{partial selectedPartial}}
    {{else}}
      {{yield selectedOption}}
    {{/if}}
    {{#if allowClear}}
      <span class="ember-power-select-clear-btn" onclick={{action "clear"}}>&times;</span>
    {{/if}}
  {{else if placeholder}}
    <span class="ember-power-select-placeholder">{{placeholder}}</span>
  {{/if}}
{{else}}
  {{log "inverse"}}
  {{log component}}
  {{#if searchEnabled}}
    <div class="ember-power-select-search">
      <input type="search" autocomplete="off" autocorrect="off" autocapitalize="off"
      spellcheck="false" role="textbox" oninput={{action "search" value="target.value"}}
      onkeydown={{action "keydown"}} placeholder={{searchPlaceholder}}>
    </div>
  {{/if}}

  <ul class="ember-power-select-options">
    {{#if _loadingOptions}}
      <li class="ember-power-select-option">{{loadingMessage}}</li>
    {{/if}}
    {{#if resultsLength}}
      {{#ember-power-select/options options=results highlighted=_highlighted selectedOption=selectedOption
        highlight=(action "highlight") select=(action "select" component) as |option|}}
        {{yield option}}
      {{/ember-power-select/options}}
    {{else if mustSearch}}
      <li class="ember-power-select-option">{{searchMessage}}</li>
    {{else if _notLoadingOptions}}
      {{#if (hasBlock "inverse")}}
        {{yield component to="inverse"}}
      {{else}}
        <li class="ember-power-select-option">{{noMatchesMessage}}</li>
      {{/if}}
    {{/if}}
  </ul>
{{/ember-basic-dropdown}}