{{#basic-dropdown class=(readonly concatenatedClasses) dir=(readonly dir) tabindex=(readonly tabindex) renderInPlace=(readonly renderInPlace) matchTriggerWidth=true
  disabled=(readonly disabled) verticalPosition=(readonly verticalPosition) triggerClass=(readonly concatenatedTriggerClasses) dropdownClass=(readonly concatenatedDropdownClasses)
  opened=opened onOpen=(action handleOpen) onClose=(action handleClose) onFocus=(action "handleFocus") onKeydown=(action "handleKeydown") registerActionsInParent=(action "registerDropdown") as |dropdown|}}
  {{#with (hash
    isOpen=dropdown.isOpen
    actions=(hash
      open=(action dropdown.actions.open)
      close=(action dropdown.actions.close)
      choose=(action "choose" dropdown)
      select=(action "select" dropdown)
      highlight=(action "highlight" dropdown)
      search=(action "search" dropdown)
      handleKeydown=(action "handleKeydown" dropdown)
    )) as |select|}}
      {{component beforeOptionsComponent onkeydown=(readonly onkeydown) select=(readonly select) searchPlaceholder=(readonly searchPlaceholder) searchEnabled=(readonly searchEnabled) highlighted=(readonly highlighted)}}
      {{#if mustShowSearchMessage}}
        <ul class="ember-power-select-options" role="listbox"><li class="ember-power-select-option" role="option">{{searchMessage}}</li></ul>
      {{else if mustShowNoMessages}}
        {{#if (hasBlock "inverse")}}
          {{yield to="inverse"}}
        {{else if noMatchesMessage}}
          <ul class="ember-power-select-options" role="listbox"><li class="ember-power-select-option" role="option">{{noMatchesMessage}}</li></ul>
        {{/if}}
      {{else}}
        {{#component optionsComponent options=(readonly results) allOptions=(readonly results) highlighted=(readonly highlighted)
          selected=(readonly selected) optionsComponent=(readonly optionsComponent) searchText=(readonly searchText)
          select=(readonly select) extra=(readonly extra) loadingMessage=(readonly loadingMessage)
          class="ember-power-select-options" as |option term|}}
          {{yield option term}}
        {{/component}}
      {{/if}}
      {{component afterOptionsComponent select=(readonly select) searchPlaceholder=(readonly searchPlaceholder) searchEnabled=(readonly searchEnabled)}}
  {{/with}}
{{else}}
  {{#with (hash
    isOpen=registeredDropdown.isOpen
    actions=(hash
      open=(action registeredDropdown.actions.open)
      close=(action registeredDropdown.actions.close)
      choose=(action "choose" registeredDropdown)
      select=(action "select" registeredDropdown)
      highlight=(action "highlight" registeredDropdown)
      search=(action "search" registeredDropdown)
      handleKeydown=(action "handleKeydown" registeredDropdown)
    )) as |select|}}
    {{#component triggerComponent options=(readonly results) selected=(readonly selected) searchText=(readonly searchText)
      placeholder=(readonly placeholder) disabled=(readonly disabled) highlighted=(readonly highlighted) allowClear=(readonly allowClear)
      select=(readonly select) extra=(readonly extra) onkeydown=(readonly onkeydown)
      selectedItemComponent=(readonly selectedItemComponent) searchField=(readonly searchField) as |opt term|}}
      {{yield opt term}}
    {{/component}}
  {{/with}}
{{/basic-dropdown}}