{{#basic-power-select
  afterOptionsComponent=afterOptionsComponent
  allowClear=allowClear
  ariaDescribedBy=ariaDescribedBy
  ariaInvalid=ariaInvalid
  ariaLabel=ariaLabel
  ariaLabelledBy=ariaLabelledBy
  beforeOptionsComponent=beforeOptionsComponent
  buildSelection=(action "buildSelection")
  calculatePosition=calculatePosition
  class=class
  closeOnSelect=closeOnSelect
  defaultHighlighted=defaultHighlighted
  destination=destination
  dir=dir
  disabled=disabled
  dropdownClass=dropdownClass
  extra=extra
  horizontalPosition=horizontalPosition
  initiallyOpened=initiallyOpened
  loadingMessage=loadingMessage
  matcher=matcher
  matchTriggerWidth=matchTriggerWidth
  noMatchesMessage=noMatchesMessage
  onblur=onblur
  onchange=onchange
  onclose=onclose
  onfocus=(action "handleFocus")
  oninput=oninput
  onkeydown=(action "handleKeydown")
  onopen=(action "handleOpen")
  options=options
  optionsComponent=optionsComponent
  groupComponent=groupComponent
  placeholder=placeholder
  registerAPI=(readonly registerAPI)
  renderInPlace=renderInPlace
  required=required
  scrollTo=scrollTo
  search=search
  searchEnabled=searchEnabled
  searchField=searchField
  searchMessage=searchMessage
  searchPlaceholder=searchPlaceholder
  selected=selected
  selectedItemComponent=selectedItemComponent
  tabindex=computedTabIndex
  tagName=tagName
  triggerClass=concatenatedTriggerClass
  triggerComponent=(component triggerComponent tabindex=tabindex)
  triggerId=triggerId
  verticalPosition=verticalPosition
  as |select|
}}
  {{#select.trigger as |opt term|}}
    {{yield opt term}}
  {{/select.trigger}}
  {{#select.dropdown}}
    {{select.before-options}}
    {{select.search-message}}
    {{#select.no-matches-message as |matches|}}
      {{#if (hasBlock "inverse")}}
        {{yield to="inverse"}}
      {{else if matches.no-matches-message}}
        <ul class="ember-power-select-options" role="listbox">
          <li class="ember-power-select-option ember-power-select-option--no-matches-message" role="option">
            {{matches.no-matches-message}}
          </li>
        </ul>
      {{/if}}
    {{/select.no-matches-message}}
    {{#select.options as |opt term|}}
      {{yield opt term}}
    {{/select.options}}
    {{select.after-options select=(readonly publicAPI) extra=(readonly extra)}}
  {{/select.dropdown}}
{{/basic-power-select}}
