{{#basic-power-select
  afterOptionsComponent=afterOptionsComponent
  allowClear=allowClear
  ariaDescribedBy=ariaDescribedBy
  ariaInvalid=ariaInvalid
  ariaLabel=ariaLabel
  ariaLabelledBy=ariaLabelledBy
  beforeOptionsComponent=beforeOptionsComponent
  calculatePosition=calculatePosition
  class=class
  closeOnSelect=closeOnSelect
  defaultHighlighted=defaultHighlighted
  destination=destination
  disabled=disabled
  extra=extra
  groupComponent=groupComponent
  horizontalPosition=horizontalPosition
  initiallyOpened=initiallyOpened
  loadingMessage=loadingMessage
  matcher=matcher
  matchTriggerWidth=matchTriggerWidth
  noMatchesMessage=noMatchesMessage
  onblur=onblur
  onchange=onchange
  onclose=onclose
  onfocus=onfocus
  oninput=oninput
  onkeydown=onkeydown
  onopen=onopen
  options=options
  optionsComponent=optionsComponent
  placeholder=placeholder
  placeholderComponent=placeholderComponent
  renderInPlace=renderInPlace
  scrollTo=scrollTo
  search=search
  searchEnabled=searchEnabled
  searchField=searchField
  searchMessage=searchMessage
  searchPlaceholder=searchPlaceholder
  selected=selected
  selectedItemComponent=selectedItemComponent
  tabindex=tabindex
  triggerClass=triggerClass
  triggerId=triggerId
  verticalPosition=verticalPosition
  as |select|
}}
  {{#select.dropdown.trigger}}
    {{#select.trigger
    as |opt term|}}
      {{yield opt term}}
    {{/select.trigger}}
  {{/select.dropdown.trigger}}
  {{#select.dropdown.content}}
    {{select.before-options}}
    {{#if mustShowSearchMessage}}
      {{component searchMessageComponent
        searchMessage=(readonly searchMessage)
        select=(readonly publicAPI)
      }}
    {{else if mustShowNoMessages}}
      {{#if (hasBlock "inverse")}}
        {{yield to="inverse"}}
      {{else if noMatchesMessage}}
        <ul class="ember-power-select-options" role="listbox">
          <li class="ember-power-select-option ember-power-select-option--no-matches-message" role="option">
            {{noMatchesMessage}}
          </li>
        </ul>
      {{/if}}
    {{else}}
      {{#select.options as |opt term|}}
        {{yield opt term}}
      {{/select.options}}
    {{/if}}
    {{select.after-options select=(readonly publicAPI) extra=(readonly extra)}}
  {{/select.dropdown.content}}
{{/basic-power-select}}
