<button type="button" {{on "click" this.refreshCollection}}>Refresh collection</button>
<br>
Default loading message
<PowerSelect
  @options={{this.promise}}
  @selected={{this.selected}}
  @onChange={{fn (mut this.selected)}} as |name|>
  {{name}}
</PowerSelect>
<br>
Custom loading message (press the <code>Refresh Collection</code> button and open this select)
<PowerSelect
  @options={{this.promise}}
  @loadingMessage="Waiting for the server...."
  @selected={{this.selected}}
  @onChange={{fn (mut this.selected)}} as |name|>
  {{name}}
</PowerSelect>