<h1 class="doc-page-title">Asynchronous search</h1>

<p>
  In {{#link-to 'docs.the-search'}}The search{{/link-to}} chapter we saw all the possible ways of
  personalizing the way the component can filter but they all had something in common. You had all the
  options available upon initialization and you were just filtering that collection.
</p>

<p>
  There are occasions when having all the options available upfront on the client side is not
  convenient or is downright impossible.
</p>

<p>
  When that's the case you can provide a <code>search</code> action instead of <code>options</code>
  (it's the only situation where the <code>options</code> are not mandatory) that will be invoked with
  the search term whenever the user types on the search box.
</p>

<p>
  Using this solution your action must return a collection or a promise that will resolve to a
  collection. Is up to you to decide your search strategy, debouncing times and what not.
</p>

{{#code-sample as |component|}}
  <pre class="code-sample-snippet {{if (eq component.activeTab 'template') 'active'}}">
    \{{#power-select search=(action "searchRepo") selected=selected onchange=(action (mut selected)) as |repo|}}
      \{{repo.full_name}}
    \{{/power-select}}
  </pre>
  <pre class="code-sample-snippet {{if (eq component.activeTab 'javascript') 'active'}}">
    export default Ember.Controller.extend({
      actions: {
        searchRepo(term) {
          if (Ember.isBlank(term)) { return []; }
          const url = `//api.github.com/search/repositories?q=${term}`;
          return ajax({ url }).then(json => json.items);
        }
      }
    });
  </pre>
  <div class="code-sample-snippet result {{if (eq component.activeTab 'result') 'active'}}">
    {{#power-select search=(action "searchRepo") selected=selected onchange=(action (mut selected)) as |repo|}}
      {{repo.full_name}}
    {{/power-select}}
    (It might fail if the API limit is exceeded)
  </div>
{{/code-sample}}

<p>
  It's also worth mentioning that Ember Power Select is smart enough to always prioritize the last request made,
  so in the best scenario avoids expensive repaintings, and in the worst case (when the second request
  resolves before the first), when the first resolves it doesn't override the most recent request.
</p>

<div class="doc-page-nav">
  {{#link-to 'docs.styles' class="doc-page-nav-link-prev"}}&lt; Styles{{/link-to}}
</div>
