<h1 class="doc-page-title">Disable things</h1>

<p>
  When the component is disabled it can't be interacted with mouse or keyboard, and won't
  get focus when navigating through a form's fields using the TAB key.
</p>

<h3>Disable individual elements</h3>

<p>
  Sometimes you want some options but not allow the user to select them. When iterating though
  the options Ember Power Select will check if the object has a <code>disabled</code> property
  whose value is <code>true</code>
</p>

{{#code-example as |component|}}
  <pre class="code-sample-snippet {{if (eq component.activeTab "template") "active"}}">
    \{{#power-select options=countries as |country|}}
      \{{country.name}}
    \{{/power-select}}
  </pre>
  <pre class="code-sample-snippet {{if (eq component.activeTab "javascript") "active"}}">
    import Controller from '@ember/controller';

    export default Controller.extend({
      countries: [
        { name: 'United States'           },
        { name: 'Spain',  disabled: true  },
        { name: 'Portugal'                },
        { name: 'Russia'                  },
        { name: 'Latvia', disabled: true  },
        { name: 'Brazil'                  },
        { name: 'United Kingdom'          },
      ]
    });
  </pre>
  <div class="code-sample-snippet result {{if (eq component.activeTab "result") "active"}}">
    {{#power-select options=countries as |country|}}
      {{country.name}}
    {{/power-select}}
  </div>
{{/code-example}}

<p>
  Disabled options can't be selected and navigating using the arrow keys will skip
  those options as if they weren't on the list.
</p>


<div class="doc-page-nav">
  {{#link-to "public-pages.docs.multiple-selection" class="doc-page-nav-link-prev"}}&lt; Multiple selection{{/link-to}}
  {{#link-to "public-pages.docs.the-list" class="doc-page-nav-link-next"}}Basic customization &gt;{{/link-to}}
</div>