<h1 class="doc-page-title">Styles</h1>

<p>
  This component <strong>does not</strong> provide any option to customize its visual
  appearance.
</p>

<p>
  You can do it using just plain old CSS. There is no rocket science on it, just override the default
  styles with your owns.
</p>

<p>
  However if you are using SASS or LESS there is a more advanced method you can use
  to customize the styles without overriding them.
</p>

<p>
  Ember Power Select exposes 28 variables you can set before importing the styles. By example (sass example):
</p>

{{code-snippet name="styles-1.scss"}}

<p>
  Will make your selects to have pale blue borders with no rounded corners.
</p>

<p>
  This approach is powerful enough to build entire themes on top of it and to prove it Ember Power Select
  ships with a <a href={{href-to "public-pages.cookbook.bootstrap-theme"}}>Bootstrap theme</a> and a
  <a href={{href-to "public-pages.cookbook.material-theme"}}>Material theme</a> out of the box that
  can also be used in projects not using any preprocessor.
</p>

<p>
  You can find the entire list of available variables in
  <a href="https://github.com/cibernox/ember-power-select/blob/master/app/styles/ember-power-select/variables.scss">the source code</a>.
</p>

<div class="doc-page-nav">
  <a href={{href-to "public-pages.docs.the-search"}} class="doc-page-nav-link-prev">&lt; The search</a>
  <a href={{href-to "public-pages.docs.custom-search-action"}} class="doc-page-nav-link-next">Advanced customization &gt;</a>
</div>
