<header class="app-header">
  <nav class="app-header-nav">
    <a href="/" class="app-header-logo">
      Ember <strong>Power</strong> Select
    </a>
    <div class="app-header-nav-links">
      <a href="/docs" class="app-header-nav-link">Docs</a>
      <a href="/cookbook" class="app-header-nav-link">Cookbook</a>
      <a href="/github" class="app-header-nav-link">Github</a>
    </div>
  </nav>
</header>

<div class="main-content">
  <section class="main-page-headline">
    <h1 class="main-page-headline-content">
      Powerful and customizable select component for Ember
    </h1>
  </section>
  <section class="selling-points">
    <article class="selling-point">
      <img src="http://placehold.it/386x300">
      <div class="selling-point-text">
        <h2>Feature rich</h2>
        Inspired by Select2.js it supports groups, filtering,
        promises and multiple selections right away.
      </div>
    </article>

    <article class="selling-point">
      <img src="http://placehold.it/386x300">
      <div class="selling-point-text">
        <h2>Built with Ember for Ember</h2>
        Built using ember practices, it feels natural to use
        and plays nicely with ember-data.
      </div>
    </article>

    <article class="selling-point">
      <img src="http://placehold.it/386x300">
      <div class="selling-point-text">
        <h2>Customizable</h2>
        Want html in your select? Pass a block. Want to customize filtering? Use an action.
        Something entirely different? Extend it and write your oun HTMLBar template.
      </div>
    </article>
  </section>
  <div class="text-center">
    <a href="#" class="get-started-button">
      Get started
    </a>
  </div>
</div>

<footer class="main-footer">
  <div class="main-footer-content">
    foo bar baz
  </div>
</footer>

{{!-- <header class="Header">
  <div class="Header__container">
    <nav class="Header__nav">
      <ul class="Header__nav-list">
        <li class="Header__nav-item">
          <a href="/docs/v0.4.x" class="Header__nav-item-link">Docs</a>
        </li>
        <li class="Header__nav-item">
          <a href="/plugins" class="Header__nav-item-link">Plugins</a>
        </li>
        <li class="Header__nav-item">
          <a href="/resources" class="Header__nav-item-link">Resources</a>
        </li>
        <li class="Header__nav-item">
          <a href="https://github.com/ember-cli/ember-cli-deploy" class="Header__nav-item-link" target="_blank">GitHub</a>
        </li>
      </ul>
    </nav>
    <a class="Header__logo" href="/">
      <span class="Header__logo-minor">Ember CLI</span>
      <span class="Header__logo-major">Deploy</span>
    </a>
  </div>
</header>

<div class="Wrapper">
  <div class="Content">
    <div class="Home-page">
      <div class="Home-page__tagline-container">
        <h1 class="Home-page__tagline">Simple, flexible deployment for your <img class="Home-page__tagline-logo" src="/public/images/ember_logo.png" alt=""> app</h1>
      </div>

      <section class="Home-page__section">
        <div class="Home-page__section-copy">
          <div class="Home-page__section-copy-wrapper">
            <h1 class="Home-page__section-title">A Deployment Pipeline</h1>
            <p class="Home-page__section-content">
              Build, upload, activate. A simple pipeline that keeps your deploy logic maintainable and reusable.
            </p>
          </div>
        </div>
        <div class="Home-page__section-graphic">
          <div class="Home-page__section-graphic-wrapper">
            <img class="Home-page__section-image" src="/public/images/deploy.png" alt="">
          </div>
        </div>
      </section>

      <hr class="Home-page__divider">

      <section class="Home-page__section Home-page__section--flipped">
        <div class="Home-page__section-copy">
          <div class="Home-page__section-copy-wrapper">
            <h1 class="Home-page__section-title">Plugins for Every Task</h1>
            <p class="Home-page__section-content">
              11 deploy hooks lay the base for a vibrant plugin ecosystem. You'll find plugins that upload to S3, notify Slack and more.
            </p>
            <p class="Home-page__section-content">
              Assemble them to create the perfect deployment strategy for your app.
            </p>
          </div>
        </div>
        <div class="Home-page__section-graphic">
          <div class="Home-page__section-graphic-wrapper">
            <img class="Home-page__section-image" src="/public/images/plugins.png" alt="">
          </div>
        </div>
      </section>

      <hr class="Home-page__divider">

      <section class="Home-page__section">
        <div class="Home-page__section-copy">
          <div class="Home-page__section-copy-wrapper">
            <h1 class="Home-page__section-title">One-Line Deploys</h1>
            <p class="Home-page__section-content">
              A configured pipeline lets you deploy your app with a single command.
            </p>
            <p class="Home-page__section-content">
              The magic of conventions, for the last piece of your development process.
            </p>
          </div>
        </div>
        <div class="Home-page__section-graphic">
          <div class="Home-page__terminal">
            <div class="Browser">
              <div class="Browser__window">
                <pre class="Browser__body"><code class="Browser__code"><span class="prompt">$ </span>ember deploy production</code>
                </pre>
              </div>
            </div>
          </div>
        </div>
      </section>

      <hr class="Home-page__divider">

      <div class="u-text-center u-margin-top-lg">
        <a href="/docs/v0.4.x" class="Home-page__button">
          Get started
        </a>
      </div>
    </div>
  </div>
</div>

<footer class="Footer">
  <div class="Container Grid Grid--gutters Grid--full small-Grid--fit">
    <div class="Grid-cell">
      <p class="u-padding-bottom">We &lt;3 our <a href="https://github.com/ember-cli/ember-cli-deploy/graphs/contributors">contributors</a>.</p>
      <p>
        <small>
          Icons made by <a href="http://www.flaticon.com/authors/picol" title="Picol">Picol</a> and <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>.
        </small>
      </p>
      <p>
        <small>
          Licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
        </small>
      </p>
    </div>
    <div class="Grid-cell">
      <div class="Github-stars">
        <iframe src="https://ghbtns.com/github-btn.html?user=ember-cli&amp;repo=ember-cli-deploy&amp;type=star&amp;count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      </div>
    </div>
  </div>
</footer>

<input type="text" value="sample input">
<h2 id="title">Welcome to the demo of ember-power-select (provisional name)</h2>
<p>
  Ok, this is a demo of an enriched select-like component that when finished will become a 1:1
  clone of the popular jQuery addon Select2.js
</p>
<p>
  "Why reinvent the wheel once more?", you may thing (and for good reason).
</p>
<p>
  For ember projects i've used the nice ember-select2 component, which is a ember addon that wraps
  the jquery library, giving it a nicer ember-ish interface.
  <br>
  The issue is that I've found the experience not entirely seamlessly when dealing with
  collection of records from ember data and other promises, and mainly, it was very hard
  to customize your component.
  <br>
  Not to mention that Select2.js alone is ~150KB, because it's bloated with things that doesn't
  belongs to the component itself, like i18n.
</p>
<p>
  I wanted to prove that using ember's primitives you can replicate 95% of the funcionality
  of the original library with a 5% of the code, and the resulting code is straightforward,
  the component nicer to use and can be customized much easier.
</p>
<p>
  Still things to polish, but soon will be usable.
</p>
<p>At the moment, all the funcionality you see took <strong>500 LOC</strong> (including CSS and templates)</p>

<h4>Select of strings without value tracking. You can filter right away.</h4>
<p>simpleSelected is: {{simpleSelected}}</p>
{{#ember-power-select options=(readonly simpleOptions) selected=(readonly simpleSelected) onchange=(action "debugSelection") as |option|}}
  {{option}}
{{/ember-power-select}}

<h4>Select of strings with value tracking</h4>
{{#ember-power-select options=(readonly simpleOptions) selected=(readonly simpleSelected) onchange=(action (mut simpleSelected)) as |option|}}
  {{option}}
{{/ember-power-select}}

<h4>Diacritics search</h4>
{{#ember-power-select options=(readonly names) as |option|}}
  {{option}}
{{/ember-power-select}}

<h4>If the default filter matches doesn't work, you can pass your own. This check that results end with the given string. Try searching for "teen"</h4>
{{#ember-power-select options=(readonly simpleOptions) matcher=endsWithMatcher as |option|}}
  {{option}}
{{/ember-power-select}}

<h4>If the content of your selector cannot be initialized, you can pass an action to find the results your way. e.g. `search=(action "findStuff")`</h4>
{{#ember-power-select search=(action "search") as |option|}}
  {{option}}
{{/ember-power-select}}

<h4>... and if that action needs to perform something async, just return a promise</h4>
{{#ember-power-select search=(action "asyncSearch") as |option|}}
  {{option}}
{{/ember-power-select}}

<h4>Select with placeholder</h4>
{{#ember-power-select options=(readonly simpleOptions) placeholder="Please select a number" as |option|}}
  {{option}}
{{/ember-power-select}}

<h4>Select clearable</h4>
{{#ember-power-select options=(readonly complexOptions) searchField="name" allowClear=true as |option|}}
  {{option.code}}: {{option.name}}
{{/ember-power-select}}

<h4>Select multiple [WORK IN PROGRESS]</h4>
{{#ember-power-select options=(readonly simpleOptions) selected=multipleSelection multiple=true onchange=(action (mut multipleSelection)) as |option|}}
  {{option}}
{{/ember-power-select}}
<p>Selected numbers: {{#each multipleSelection as |number|}}{{number}}, {{/each}}</p>

<h4>Select multiple </h4>
{{#ember-power-select options=(readonly complexOptions) multiple=true searchField="name" as |option|}}
  <i class="icon-flag {{option.code}}"></i> {{option.name}}
{{/ember-power-select}}
<p>Selected numbers: {{#each multipleSelection as |number|}}{{number}}, {{/each}}</p>

<h4>Custom block. When your options are not strings, just customize the html of each option with a block</h4>
{{#ember-power-select options=(readonly complexOptions) searchField="name" selected=(readonly complexSelected) as |option|}}
  <i class="icon-flag {{option.code}}"></i>
  {{option.name}}
  <i>Population: {{option.population}}</i>
{{/ember-power-select}}

<h4>You can even use a different markup for the selected option and the ones in the list.</h4>
{{#ember-power-select options=(readonly complexOptions) searchField="name" selected=(readonly complexSelected) selectedPartial="selected-country" as |option|}}
  <div class="country-detailed-info">
    <div class="country-flag {{option.code}}">
    </div>
    <div class="country-data-text">
      <strong>{{option.name}}</strong>
      <br>
      <small>Population in 2014: <i>{{option.population}}</i></small>
    </div>
  </div>
{{/ember-power-select}}

<h4>Select disabled</h4>
{{#ember-power-select options=(readonly complexOptions) searchField="name" disabled=true as |option|}}
  {{option.code}}: {{option.name}}
{{/ember-power-select}}

<h4>Select with disabled options</h4>
{{#ember-power-select options=(readonly complexOptionsWithDisabled) searchField="name" as |option|}}
  {{option.code}}: {{option.name}}
{{/ember-power-select}}

<h4>Select that receives a promise as options</h4>
{{#ember-power-select options=(readonly promiseOptions) as |option|}}
  {{option}}
{{/ember-power-select}}

<h4>You can customize the message shown while promise is not resolved with `loadingMessage="This promise takes 5 seconds to resolve"`</h4>
{{#ember-power-select options=(readonly promiseOptions) loadingMessage="This promise takes 5 seconds to resolve" as |option|}}
  {{option}}
{{/ember-power-select}}

<h4>You can customize the text being shown when there is no matches passing `noResultsMessage="404 bro". Type "asdf"`</h4>
{{#ember-power-select options=(readonly simpleOptions) noResultsMessage="404 bro" as |option|}}
  {{option}}
{{/ember-power-select}}

<h4>Or you can pass any html in the `\{{else}}` block just like each</h4>
{{#ember-power-select options=(readonly simpleOptions) noResultsMessage="404 bro" as |option|}}
  {{option}}
{{else}}
  <img height="130" style="display: inline-block;" src="http://cliparts.co/cliparts/bpi/qdj/bpiqdjdc9.png">
  NO
  <br>
  <a href="#">Contact us to complain about this</a>
{{/ember-power-select}}

<h4>Select with groups</h4>
{{#ember-power-select options=(readonly groupedOptions) as |option|}}
  {{option}}
{{/ember-power-select}}

<h4>Options are appended to the body, unless you pass `renderInPlace=true`</h4>
{{#ember-power-select options=(readonly simpleOptions) renderInPlace=true as |option|}}
  {{option}}
{{/ember-power-select}}

<h4>The search box can be disabled passing `searchEnabled=false`</h4>
{{#ember-power-select options=(readonly simpleOptions) searchEnabled=false as |option|}}
  {{option}}
{{/ember-power-select}}

<h4>Right to left styles</h4>
{{#ember-power-select options=(readonly complexOptions) dir="rtl" selected=(readonly complexSelected) allowClear=true as |option|}}
  {{option.code}}: {{option.name}}
{{/ember-power-select}}
<br>
{{#ember-power-select options=(readonly groupedOptions) dir="rtl" selected="seven" allowClear=true as |option|}}
  {{option}}
{{/ember-power-select}}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br> --}}