<div id="single-select-without-selected">
  <PowerSelect @options={{this.numbers}} @selected={{this.none}} @onChange={{fn (mut this.none)}} as |num|>
    {{num}}
  </PowerSelect>
</div>

<div id="single-select-with-selected">
  <PowerSelect @options={{this.numbers}} @selected={{this.singleSelected}} @onChange={{fn (mut this.singleSelected)}} as |num|>
    {{num}}
  </PowerSelect>
</div>

<div id="multiple-select-without-selected">
  <PowerSelectMultiple @options={{this.numbers}} @selected={{this.none}} @onChange={{fn (mut this.none)}} as |num|>
    {{num}}
  </PowerSelectMultiple>
</div>

<div id="multiple-select-with-selected">
  <PowerSelectMultiple @options={{this.numbers}} @selected={{this.multipleSelected}} @onChange={{fn (mut this.multipleSelected)}} as |num|>
    {{num}}
  </PowerSelectMultiple>
</div>