<div id="single-select-without-selected">
  <PowerSelect @options={{numbers}} @selected={{none}} @onChange={{action (mut none)}} as |num|>
    {{num}}
  </PowerSelect>
</div>

<div id="single-select-with-selected">
  <PowerSelect @options={{numbers}} @selected={{singleSelected}} @onChange={{action (mut singleSelected)}} as |num|>
    {{num}}
  </PowerSelect>
</div>

<div id="multiple-select-without-selected">
  <PowerSelectMultiple @options={{numbers}} @selected={{none}} @onChange={{action (mut none)}} as |num|>
    {{num}}
  </PowerSelectMultiple>
</div>

<div id="multiple-select-with-selected">
  <PowerSelectMultiple @options={{numbers}} @selected={{multipleSelected}} @onChange={{action (mut multipleSelected)}} as |num|>
    {{num}}
  </PowerSelectMultiple>
</div>