<h3>Helpers testing</h3>
{{#power-select class="select-choose" options=numbers selected=selected onchange=(action (mut selected)) as |num|}}
  {{num}}
{{/power-select}}

{{#power-select class="select-choose-onopen" onopen=(action "onOpenHandle") options=optionz selected=selected onchange=(action (mut selected)) allowClear=true searchEnabled=false as |num|}}
  {{num}}
{{/power-select}}

{{#power-select-multiple class="select-choose-onopen-multiple" onopen=(action "onOpenHandle") options=optionz selected=selected2 onchange=(action (mut selected2)) searchEnabled=false as |num|}}
  {{num}}
{{/power-select-multiple}}

{{#if selected}}
  <span class="select-choose-target">You've selected: {{selected}}</span>
{{/if}}

{{#power-select class="select-async" selected=selected onchange=(action (mut selected)) search=(action "searchAsync") as |num|}}
  {{num}}
{{/power-select}}

{{#power-select-multiple class="select-multiple" options=numbers selected=selectedList onchange=(action (mut selectedList)) as |num|}}
  {{num}}
{{/power-select-multiple}}
