<h3>Helpers testing</h3>
<div class="select-choose">
  <PowerSelect @options={{numbers}} @selected={{selected}} @onChange={{action (mut selected)}} as |num|>
    {{num}}
  </PowerSelect>
</div>

<div class="select-choose-onopen">
  <PowerSelect @onOpen={{action "onOpenHandle"}} @options={{optionz}} @selected={{selected}} @onChange={{action (mut selected)}} @allowClear={{true}} as |num|>
    {{num}}
  </PowerSelect>
</div>

<div class="select-choose-onopen-multiple">
  <PowerSelectMultiple @onOpen={{action "onOpenHandle"}} @options={{optionz}} @selected={{selected2}} @onChange={{action (mut selected2)}} as |num|>
    {{num}}
  </PowerSelectMultiple>
</div>

<div>
  <PowerSelect @triggerClass="select-with-class-in-trigger" @options={{numbers}} @selected={{selected}} @onChange={{action (mut selected)}} @searchEnabled={{true}} as |num|>
    {{num}}
  </PowerSelect>
</div>

{{#if selected}}
  <span class="select-choose-target">You've selected: {{selected}}</span>
{{/if}}

<div class="select-async">
  <PowerSelect @selected={{selected}} @onChange={{action (mut selected)}} @search={{action "searchAsync"}} @searchEnabled={{true}} as |num|>
    {{num}}
  </PowerSelect>
</div>

<div class="select-multiple">
  <PowerSelectMultiple @options={{numbers}} @selected={{selectedList}} @onChange={{action (mut selectedList)}} @searchEnabled={{true}} as |num|>
    {{num}}
  </PowerSelectMultiple>
</div>

<div id="select-multiple-async">
  <PowerSelectMultiple @options={{numbers}} @selected={{asyncSelectedList}} @onChange={{action "onChangeAsync" "asyncSelectedList"}} as |num|>
    {{num}}
  </PowerSelectMultiple>
</div>

<div class="select-deselect-async">
  <PowerSelect @options={{numbers}} @selected={{asyncSelected}} @onChange={{action "onChangeAsync" "asyncSelected"}} @allowClear={{true}} as |num|>
    {{num}}
  </PowerSelect>
</div>

<h3>Customized component</h3>
<div class="select-custom-search">
  <PowerSelect @selected={{selected3}}
    @onChange={{action (mut selected3)}}
    @search={{action "searchAsync"}}
    @beforeOptionsComponent={{null}}
    @triggerComponent="custom-trigger-with-search" as |num|>
    {{num}}
  </PowerSelect>
</div>