<h1>Playground</h1>

<PowerSelect
  {{!-- @options={{this.cities}} --}}
  @selected={{this.selected}}
  @onChange={{fn (mut this.selected)}}
  @search={{this.searchUsers}}
  @searchEnabled={{true}}
  as |user|>
  {{user.name}}
</PowerSelect>

