<header class="main-header">
  <nav class="main-header-nav">
    <div class="main-header-nav-links">
      <LinkTo @route="public-pages.docs" class="main-header-nav-link">Docs</LinkTo>
      <LinkTo @route="public-pages.cookbook" class="main-header-nav-link">Cookbook</LinkTo>
      <LinkTo @route="public-pages.addons" class="main-header-nav-link">Addons</LinkTo>
      <a href="https://github.com/cibernox/ember-power-select" class="main-header-nav-link">Github</a>
    </div>
    <div class="main-header-logo">
      <LinkTo @route="public-pages.index" class="home-link">
        <img src="/ember_logo.png" alt="ember">
      </LinkTo>
      <div class="main-header-select">
        <PowerSelect
          @options={{this.mainSelectOptions}}
          @selected={{this.mainSelected}}
          @disabled={{this.disabled}}
          @triggerComponent="main-header-select-trigger"
          @onChange={{this.changeOptions}}
          @dropdownClass="main-header-select-dropdown" as |opt|>
          {{opt}}
        </PowerSelect>
      </div>
    </div>
  </nav>
</header>
<div class="main-content">
  {{outlet}}
</div>
<aside class="link-to-other-version">
  This is the documentation for version 3.X of the addon. If you are looking for version 2.X you can find the docs <a href="https://2-x.ember-power-select.com">here</a>
</aside>
<footer class="main-footer">
  <div class="main-footer-content">
    Deployed with love by <a href="http://github.com/cibernox">Miguel Camba</a>
    <div class="contribute-call-to-action">
      Enjoy the addon? <a href={{href-to "public-pages.support-the-project"}}>Support it!</a>
    </div>
  </div>
</footer>

<RememberDocumentScroll @key={{this.router.currentRouteName}} />