<h1 class="doc-page-title">Bootstrap theme</h1>

<p>
  In the {{#link-to "public-pages.docs.styles"}}chapter about styles{{/link-to}} of the docs you've seen how, if you are a Sass user,
  you can customize the styles of the dropdown by defining some variables before importing the styles
  of the addon.
</p>

<p>
  This approach can allow a great amount of customization with only a few lines of code. By example this
  is all that takes to create a Bootstrap 3 theme:
</p>

{{code-snippet name="bootstrap-theme-1.scss"}}

<p>
  Since bootstrap is so popular this theme comes already bundled in Ember Power Select, so the only
  thing you have to do is to import the theme file before the main one:
</p>

{{code-snippet name="bootstrap-theme-2.scss"}}

<p>
  The result looks like this:
</p>

<div class="evenly-splitted">
  <div>
    {{#power-select options=options selected=selectedSingle onchange=(action (mut selectedSingle)) searchField="name" triggerClass="bootstrap-theme-trigger" dropdownClass="bootstrap-theme-dropdown" as |country|}}
      <img src={{country.flagUrl}} class="icon-flag" alt="Country of {{country.name}}"> <strong>{{country.name}}</strong>
    {{/power-select}}
  </div>
  <div>
    {{#power-select-multiple options=options selected=selectedMultiple onchange=(action (mut selectedMultiple)) searchField="name" triggerClass="bootstrap-theme-trigger" dropdownClass="bootstrap-theme-dropdown" as |country|}}
      <img src={{country.flagUrl}} class="icon-flag" alt="Country of {{country.name}}"> <strong>{{country.name}}</strong>
    {{/power-select-multiple}}
  </div>
</div>

<p>
  If your project is not using sass, you can still use the precompiled bootstrap theme instead of
  the default one with just a couple lines of configuration when creating your app on the
  <code>ember-cli-build.js</code> file.
</p>

{{code-snippet name="bootstrap-theme-1-js.js"}}

<p>
  Alternatively you can disable styling altogether by setting the theme to false.
</p>

{{code-snippet name="bootstrap-theme-2-js.js"}}

<p>
  Remember to restart ember-cli to pick up the changes.
</p>

<div class="doc-page-nav">
  {{#link-to "public-pages.cookbook.index" class="doc-page-nav-link-prev"}}&lt; System-wide config{{/link-to}}
  {{#link-to "public-pages.cookbook.material-theme" class="doc-page-nav-link-next"}}Material theme &gt;{{/link-to}}
</div>