<h1 class="doc-page-title">Material theme</h1>

<p>
  Like with bootstrap, it's not a lot of code to create a material-design theme
  using the available SASS variables and a couple animations before importing
  the styles of the addon.
</p>

{{code-snippet name="material-theme-1.scss" class="max-500-height"}}

<h3>Regular selects without search</h3>
<div style="display: flex;">
  <div style="flex: 1; padding: 5px;">
    {{#power-select
      triggerClass="material-theme-trigger"
      dropdownClass="material-theme-dropdown"
      options=countries
      selected=country
      searchEnabled=false
      placeholder="Country"
      searchField="name"
      onchange=(action (mut country)) as |country|}}
      {{country.name}}
    {{/power-select}}
  </div>
  <div style="flex: 1; padding: 5px;">
    {{#power-select
      triggerClass="material-theme-trigger"
      dropdownClass="material-theme-dropdown"
      options=cities
      selected=city
      searchEnabled=false
      placeholder="City"
      allowClear=true
      onchange=(action (mut city)) as |city|}}
      {{city}}
    {{/power-select}}
  </div>
</div>

<h3>Regular selects with search</h3>
{{#power-select
  triggerClass="material-theme-trigger"
  dropdownClass="material-theme-dropdown"
  options=countries
  selected=country2
  placeholder="Country"
  searchField="name"
  onchange=(action (mut country2)) as |country|}}
  {{country.name}}
{{/power-select}}

<h3>Multiple selects with search</h3>
{{#power-select-multiple
  triggerClass="material-theme-trigger"
  dropdownClass="material-theme-dropdown"
  options=countries
  selected=selectedCountries
  placeholder="Country"
  searchField="name"
  onchange=(action (mut selectedCountries)) as |country|}}
  {{country.name}}
{{/power-select-multiple}}
<h3>Groups</h3>
{{#power-select
  triggerClass="material-theme-trigger"
  dropdownClass="material-theme-dropdown"
  options=groupedNumbers
  selected=number
  placeholder="Choose a number"
  onchange=(action (mut number)) as |num|}}
  {{num}}
{{/power-select}}

<h3>Select with clear btn</h3>
{{#power-select
  triggerClass="material-theme-trigger"
  dropdownClass="material-theme-dropdown"
  options=countries
  selected=country3
  searchEnabled=false
  placeholder="Country"
  searchField="name"
  allowClear=true
  onchange=(action (mut country3)) as |country|}}
  {{country.name}}
{{/power-select}}
<br>
<br>
<p>
  This theme doesn't attempt to provide totally accurate replica of the angular directive,
  but it's a good start.
</p>

<p>To use it in your app, SASS users should import the theme before importing the main stylesheet:</p>

{{code-snippet name="material-theme-2.scss"}}

<p>
  As with the bootstrap one, this skin comes pre-compiled in the app, apps that don't use
  SASS can include it from the <code>ember-cli-build.js</code> file.
</p>

{{code-snippet name="material-theme-1-js.js" class="max-500-height"}}

<p>In the next section we're going to explain how come this select can be animated without any javascript!</p>

<div class="doc-page-nav">
  {{#link-to "public-pages.cookbook.bootstrap-theme" class="doc-page-nav-link-prev"}}&lt; Bootstrap theme{{/link-to}}
  {{#link-to "public-pages.cookbook.css-animations" class="doc-page-nav-link-next"}}CSS animations &gt;{{/link-to}}
</div>