<ul id="{{elementId}}-ember-power-select-multiple-options" class="ember-power-select-multiple-options">
  {{#each selected as |opt idx|}}
    <li class="ember-power-select-multiple-option">
      {{#unless disabled}}
        <span role="button"
          aria-label="remove element"
          class="ember-power-select-multiple-remove-btn"
          data-selected-index={{idx}}>&times;</span>
      {{/unless}}
      {{#if selectedItemComponent}}
        {{component selectedItemComponent selected=opt lastSearchedText=lastSearchedText}}
      {{else}}
        {{yield opt lastSearchedText}}
      {{/if}}
    </li>
  {{/each}}
</ul>
{{#if searchEnabled}}
  <input type="search" class="ember-power-select-trigger-multiple-input {{elementId}}-input"
    tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
    aria-controls={{listboxId}}
    style={{triggerMultipleInputStyle}}
    placeholder={{maybePlaceholder}}
    disabled={{disabled}}
    oninput={{action "handleInput"}}
    onkeydown={{action "handleKeydown"}}>
{{/if}}
<span class="ember-power-select-status-icon"></span>