<ul id="ember-power-select-multiple-options-{{select._id}}" class="ember-power-select-multiple-options">
  {{#each select.selected as |opt idx|}}
    <li class="ember-power-select-multiple-option">
      {{#unless select.disabled}}
        <span role="button"
          aria-label="remove element"
          class="ember-power-select-multiple-remove-btn"
          data-selected-index={{idx}}>
          &times;
        </span>
      {{/unless}}
      {{#if selectedItemComponent}}
        {{component selectedItemComponent option=(readonly opt) select=(readonly select)}}
      {{else}}
        {{yield opt select}}
      {{/if}}
    </li>
  {{/each}}
  {{#if searchEnabled}}
    <input type="search" class="ember-power-select-trigger-multiple-input"
      tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
      id="ember-power-select-trigger-multiple-input-{{select._id}}"
      value={{select.searchText}}
      aria-controls={{listboxId}}
      style={{triggerMultipleInputStyle}}
      placeholder={{maybePlaceholder}}
      disabled={{select.disabled}}
      oninput={{action "onInput"}}
      onFocus={{activate}}
      onBlur={{onBlur}}
      onkeydown={{action "onKeydown"}}>
  {{/if}}
</ul>
<span class="ember-power-select-status-icon"></span>