{{#if searchEnabled}}
  <div class="ember-power-select-search">
    <input type="search" autocomplete="off"
      autocorrect="off" autocapitalize="off"
      spellcheck="false" role="combobox"
      class="ember-power-select-search-input"
      aria-activedescendant={{highlightedId}}
      value={{select.searchText}}
      aria-owns={{listboxId}}
      placeholder={{searchPlaceholder}}
      oninput={{onInput}}
      onfocus={{onFocus}}
      onblur={{onBlur}}
      onkeydown={{action "onKeydown"}}>
  </div>
{{/if}}