{{#if searchEnabled}}
  <div class="ember-power-select-search">
    <label class="ember-power-select-search-input-label" for="{{concat listboxId '-search-input'}}">{{placeholder}}</label>
    <input type="search" autocomplete="off" id="{{concat listboxId '-search-input'}}"
      autocorrect="off" autocapitalize="off"
      spellcheck="false" role="combobox"
      class="ember-power-select-search-input"
      value={{select.searchText}}
      aria-controls={{listboxId}}
      placeholder={{searchPlaceholder}}
      oninput={{onInput}}
      onfocus={{onFocus}}
      onblur={{onBlur}}
      onkeydown={{action "onKeydown"}}>
  </div>
{{/if}}