{{#if searchEnabled}}
  <div class="ember-power-select-search">
    {{#if searchLabel}}
      <label class="ember-power-select-search-input-label" for="{{select.uniqueId}}-search-input">
        {{searchLabel}}
      </label>
    {{/if}}
    <input type="search" autocomplete="off" id="{{select.uniqueId}}-search-input"
      autocorrect="off" autocapitalize="off"
      spellcheck="false" role="combobox"
      class="ember-power-select-search-input"
      value={{select.searchText}}
      aria-controls={{listboxId}}
      placeholder={{searchPlaceholder}}
      oninput={{onInput}}
      onfocus={{onFocus}}
      onblur={{onBlur}}
      onkeydown={{action "onKeydown"}}>
  </div>
{{/if}}