{{#if loading}}
  {{#if loadingMessage}}
    <li class="ember-power-select-option" role="option">{{loadingMessage}}</li>
  {{/if}}
{{/if}}
{{#each options as |opt|}}
  {{#if opt.groupName}}
    <li class="ember-power-select-group" role="option">
      <span class="ember-power-select-group-name">{{opt.groupName}}</span>
      {{#component optionsComponent
        highlighted=(readonly highlighted)
        selected=(readonly selected)
        options=(readonly opt.options)
        allOptions=(readonly allOptions)
        optionsComponent=(readonly optionsComponent)
        select=(readonly select)
        role="group"
        class="ember-power-select-options" as |option|}}
        {{yield option lastSearchedText}}
      {{/component}}
    </li>
  {{else}}
    <li class="ember-power-select-option"
      aria-selected={{ember-power-select-is-selected opt selected}}
      aria-disabled={{opt.disabled}}
      aria-current={{eq opt highlighted}}
      onmouseup={{action select.actions.choose (ember-power-select-build-selection opt selected multiple=multiple)}}
      onmouseover={{action select.actions.highlight opt}} role="option">
      {{yield opt lastSearchedText}}
    </li>
  {{/if}}
{{/each}}
