{{#if selected}}
  {{#if selectedItemComponent}}
    {{component selectedItemComponent selected=selected lastSearchedText=lastSearchedText}}
  {{else}}
    <span class="ember-power-select-selected-item">{{yield selected lastSearchedText}}</span>
  {{/if}}
  {{#if (and allowClear (not disabled))}}
    <span class="ember-power-select-clear-btn" onmousedown={{action "clear"}}>&times;</span>
  {{/if}}
{{else if placeholder}}
  <span class="ember-power-select-placeholder">{{placeholder}}</span>
{{/if}}
<span class="ember-power-select-status-icon"></span>