{{#if selected}}
  {{#if selectedItemComponent}}
    {{component selectedItemComponent selected=selected lastSearchedText=lastSearchedText}}
  {{else}}
    <span class="ember-power-select-selected-item">{{yield selected lastSearchedText}}</span>
  {{/if}}
  {{#if allowClear}}
    <span class="ember-power-select-clear-btn" onmousedown={{action select.actions.select null}}>&times;</span>
  {{/if}}
{{else if placeholder}}
  <div class="ember-power-select-placeholder">{{{placeholder}}}</div>
{{/if}}
<span class="ember-power-select-status-icon"></span>