{{#if selected}}
  {{#if selectedItemComponent}}
    {{component selectedItemComponent selected=selected lastSearchedText=lastSearchedText}}
  {{else}}
    {{yield selected lastSearchedText}}
  {{/if}}
  {{#if allowClear}}
    <span class="ember-power-select-clear-btn" onmousedown={{action select.actions.select null}}>&times;</span>
  {{/if}}
{{else if placeholder}}
  <span class="ember-power-select-placeholder">{{placeholder}}</span>
{{/if}}
<span class="ember-power-select-status-icon"></span>