{{#if @select.selected}}
  {{#if @selectedItemComponent}}
    {{#let (component (ensure-safe-component @selectedItemComponent)) as |SelectedItemComponent|}}
      <SelectedItemComponent
        @extra={{readonly @extra}}
        @option={{readonly @select.selected}}
        @select={{readonly @select}}
      />
    {{/let}}
  {{else}}
    <span class="ember-power-select-selected-item">{{yield @select.selected @select}}</span>
  {{/if}}
  {{#if (and @allowClear (not @select.disabled))}}
    {{!-- template-lint-disable no-pointer-down-event-binding --}}
    <span class="ember-power-select-clear-btn" role="button" {{on "mousedown" this.clear}} {{on "touchstart" this.clear}}>&times;</span>
  {{/if}}
{{else}}
  {{#let (component (ensure-safe-component @placeholderComponent)) as |PlaceholderComponent|}}
    <PlaceholderComponent
      @placeholder={{@placeholder}}
    />
  {{/let}}
{{/if}}
<span class="ember-power-select-status-icon"></span>
