{{#if (ember-power-select-is-selected-present @select.selected)}}
  {{#if (or (not-eq @searchFieldPosition "trigger") (not @select.searchText))}}
    {{#if @selectedItemComponent}}
      {{#let
        (component (ensure-safe-component @selectedItemComponent))
        as |SelectedItemComponent|
      }}
        <SelectedItemComponent
          @extra={{readonly @extra}}
          @option={{readonly @select.selected}}
          @select={{readonly @select}}
        />
      {{/let}}
    {{else}}
      <span class="ember-power-select-selected-item">{{yield
          @select.selected
          @select
        }}</span>
    {{/if}}
  {{/if}}
  {{#if (and @searchEnabled (eq @searchFieldPosition "trigger"))}}
    <PowerSelect::Input
      @select={{@select}}
      @ariaActiveDescendant={{@ariaActiveDescendant}}
      @ariaLabelledBy={{@ariaLabelledBy}}
      @ariaDescribedBy={{@ariaDescribedBy}}
      @role={{@role}}
      @ariaLabel={{@ariaLabel}}
      @listboxId={{@listboxId}}
      @searchPlaceholder={{@placeholder}}
      @onFocus={{@onFocus}}
      @onBlur={{@onBlur}}
      @onKeydown={{@onKeydown}}
      @onInput={{@onInput}}
      @searchFieldPosition={{@searchFieldPosition}}
      @autofocus={{false}}
    />
  {{/if}}
  {{#if (and @allowClear (not @select.disabled))}}
    {{! template-lint-disable no-pointer-down-event-binding }}
    <span
      class="ember-power-select-clear-btn"
      role="button"
      {{on "mousedown" this.clear}}
      {{on "touchstart" this.clear}}
    >&times;</span>
  {{/if}}
{{else}}
  {{#if (and @searchEnabled (eq @searchFieldPosition "trigger"))}}
    {{#let
      (component
        "power-select/input"
        select=@select
        ariaActiveDescendant=@ariaActiveDescendant
        ariaLabelledBy=@ariaLabelledBy
        ariaDescribedBy=@ariaDescribedBy
        role=@role
        ariaLabel=@ariaLabel
        listboxId=@listboxId
        searchPlaceholder=@placeholder
        onFocus=@onFocus
        onBlur=@onBlur
        onKeydown=@onKeydown
        onInput=@onInput
        searchFieldPosition=@searchFieldPosition
        autofocus=false
      )
      as |InputComponent|
    }}
      {{#let
        (component (ensure-safe-component @placeholderComponent))
        as |PlaceholderComponent|
      }}
        <PlaceholderComponent
          @select={{@select}}
          @placeholder={{@placeholder}}
          @isMultipleWithSearch={{true}}
          @inputComponent={{InputComponent}}
          @displayPlaceholder={{and
            (not @select.searchText)
            (not @select.selected)
          }}
        />
      {{/let}}
    {{/let}}
  {{else}}
    {{#let
      (component (ensure-safe-component @placeholderComponent))
      as |PlaceholderComponent|
    }}
      <PlaceholderComponent @placeholder={{@placeholder}} />
    {{/let}}
  {{/if}}
{{/if}}
<span class="ember-power-select-status-icon"></span>