{{#if @select.multiple}}
  {{! template-lint-disable no-invalid-interactive }}
  {{! template-lint-disable no-pointer-down-event-binding }}
  {{! template-lint-disable no-unsupported-role-attributes }}
  {{! template-lint-disable require-aria-activedescendant-tabindex }}
  <ul
    id="ember-power-select-multiple-options-{{@select.uniqueId}}"
    aria-activedescendant={{if
      (and @select.isOpen (not @searchEnabled))
      @ariaActiveDescendant
    }}
    class="ember-power-select-multiple-options"
    {{this.openChange @select.isOpen}}
    {{on "touchstart" this.chooseOption}}
    {{on "mousedown" this.chooseOption}}
    ...attributes
  >
    {{#if (ember-power-select-is-selected-present this.selectedMultiple)}}
      {{#each this.selectedMultiple as |opt idx|}}
        <li
          class="ember-power-select-multiple-option
            {{if
              (this.isOptionDisabled opt)
              'ember-power-select-multiple-option--disabled'
            }}"
        >
          {{#unless @select.disabled}}
            <span
              role="button"
              aria-label="remove element"
              class="ember-power-select-multiple-remove-btn"
              data-selected-index={{idx}}
            >
              &times;
            </span>
          {{/unless}}
          {{#if @selectedItemComponent}}
            {{#let @selectedItemComponent as |SelectedItemComponent|}}
              <SelectedItemComponent
                @extra={{@extra}}
                @selected={{opt}}
                @select={{@select}}
              />
            {{/let}}
          {{else}}
            {{yield opt @select}}
          {{/if}}
        </li>
      {{/each}}
    {{else}}
      {{#if
        (and
          @placeholder
          (or (not @searchEnabled) (eq @searchFieldPosition "before-options"))
        )
      }}
        <li>
          {{#let @placeholderComponent as |PlaceholderComponent|}}
            <PlaceholderComponent
              @placeholder={{@placeholder}}
              @select={{@select}}
            />
          {{/let}}
        </li>
      {{/if}}
    {{/if}}
    {{#if (and @searchEnabled (eq @searchFieldPosition "trigger"))}}
      <li class="ember-power-select-trigger-multiple-input-container">
        {{#let
          (component
            (ensure-safe-component this.inputComponent)
            select=@select
            extra=@extra
            ariaActiveDescendant=@ariaActiveDescendant
            ariaLabelledBy=@ariaLabelledBy
            ariaDescribedBy=@ariaDescribedBy
            role=@role
            ariaLabel=@ariaLabel
            listboxId=@listboxId
            tabindex=@tabindex
            buildSelection=@buildSelection
            searchPlaceholder=(or @placeholder @searchPlaceholder)
            placeholderComponent=@placeholderComponent
            searchField=@searchField
            searchFieldPosition=@searchFieldPosition
            onFocus=@onFocus
            onBlur=@onBlur
            onKeydown=@onKeydown
            onInput=@onInput
          )
          as |InputComponent|
        }}
          {{#let @placeholderComponent as |PlaceholderComponent|}}
            <PlaceholderComponent
              @select={{@select}}
              @extra={{@extra}}
              @placeholder={{@placeholder}}
              @isMultipleWithSearch={{true}}
              @inputComponent={{InputComponent}}
              @displayPlaceholder={{and
                (not @select.searchText)
                (is-empty @select.selected)
              }}
            />
          {{/let}}
        {{/let}}
      </li>
    {{/if}}
  </ul>
{{else}}
  {{#if (ember-power-select-is-selected-present this.selected)}}
    {{#if
      (or (not-eq @searchFieldPosition "trigger") (not @select.searchText))
    }}
      {{#if @selectedItemComponent}}
        {{#let @selectedItemComponent as |SelectedItemComponent|}}
          <SelectedItemComponent
            @extra={{@extra}}
            @selected={{this.selected}}
            @select={{@select}}
          />
        {{/let}}
      {{else}}
        <span class="ember-power-select-selected-item">
          {{yield this.selected @select}}
        </span>
      {{/if}}
    {{/if}}
    {{#if (and @searchEnabled (eq @searchFieldPosition "trigger"))}}
      <PowerSelect::Input
        @select={{@select}}
        @extra={{@extra}}
        @ariaActiveDescendant={{@ariaActiveDescendant}}
        @ariaLabelledBy={{@ariaLabelledBy}}
        @ariaDescribedBy={{@ariaDescribedBy}}
        @role={{@role}}
        @ariaLabel={{@ariaLabel}}
        @listboxId={{@listboxId}}
        @tabindex={{@tabindex}}
        @buildSelection={{@buildSelection}}
        @searchPlaceholder={{or @placeholder @searchPlaceholder}}
        @placeholderComponent={{@placeholderComponent}}
        @searchField={{@searchField}}
        @onFocus={{@onFocus}}
        @onBlur={{@onBlur}}
        @onKeydown={{@onKeydown}}
        @onInput={{@onInput}}
        @searchFieldPosition={{@searchFieldPosition}}
        @autofocus={{false}}
      />
    {{/if}}
    {{#if (and @allowClear (not @select.disabled))}}
      {{! template-lint-disable no-pointer-down-event-binding }}
      <span
        class="ember-power-select-clear-btn"
        role="button"
        {{on "mousedown" this.clear}}
        {{on "touchstart" this.clear}}
      >&times;</span>
    {{/if}}
  {{else}}
    {{#if (and @searchEnabled (eq @searchFieldPosition "trigger"))}}
      {{#let
        (component
          (ensure-safe-component this.inputComponent)
          select=@select
          extra=@extra
          ariaActiveDescendant=@ariaActiveDescendant
          ariaLabelledBy=@ariaLabelledBy
          ariaDescribedBy=@ariaDescribedBy
          role=@role
          ariaLabel=@ariaLabel
          listboxId=@listboxId
          searchPlaceholder=(or @placeholder @searchPlaceholder)
          onFocus=@onFocus
          onBlur=@onBlur
          onKeydown=@onKeydown
          onInput=@onInput
          searchFieldPosition=@searchFieldPosition
          autofocus=false
        )
        as |InputComponent|
      }}
        {{#let @placeholderComponent as |PlaceholderComponent|}}
          <PlaceholderComponent
            @select={{@select}}
            @placeholder={{@placeholder}}
            @isMultipleWithSearch={{true}}
            @inputComponent={{InputComponent}}
            @extra={{@extra}}
            @displayPlaceholder={{and
              (not @select.searchText)
              (is-empty this.selected)
            }}
          />
        {{/let}}
      {{/let}}
    {{else}}
      {{#let @placeholderComponent as |PlaceholderComponent|}}
        <PlaceholderComponent
          @placeholder={{@placeholder}}
          @select={{@select}}
          @extra={{@extra}}
        />
      {{/let}}
    {{/if}}
  {{/if}}
{{/if}}
<span class="ember-power-select-status-icon"></span>